.controls {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  background: #212121;

  &__history,
  &__star {
    width: 31px;
    height: 31px;
    line-height: 31px;

    i {
      line-height: 31px;
      font-size: 1.5rem;
    }
  }

  &__star {
    visibility: hidden;
  }

  &__play {
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0 20px;

    i {
      line-height: 45px;
      font-size: 2rem;
    }
  }

  &__progress {
    height: 5px;
    cursor: pointer;
    margin: 0;
    border-radius: 0;
  }

  &__buttons {
    padding: 10px 15px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__playback {
    display: flex;
    align-items: center;
  }
}
