.player {
  padding-bottom: 71px;

  &__content {
    position: relative;
    z-index: 2;
  }

  &__video {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
  }

  &__content {
    padding-top: 56.25%;
  }
}
