.queue {
  background: #212121;

  &__header {
    font-weight: bold;
    font-size: 14px;
    padding-left: 15px !important;
  }

  &__song {
    &-title {
      display: block;
      font-size: 13px;
      line-height: 14px;
    }

    &-author {
      margin-top: 4px !important;
      font-size: 12px;
      line-height: 13px;
      font-weight: bold;
    }

    &-delete,
    &-playing {
      height: 25px;
      top: 50% !important;
      transform: translateY(-50%);
      color: #9e9e9e;
    }
  }

  &__no-songs {
    padding: 10px 15px;
    font-size: 12px;
  }
}
