.search {

  background: #212121;
  &__button {
    position: absolute;
    width: 44px;
    height: 44px;
    line-height: 44px;
    z-index: 3;
    right: 15px;
    transform: translateY(-50%);

    i {
      line-height: 44px;
      font-size: 1.8rem;
    }
  }

  &__form {
    padding: 0 15px;
    height: 0;
    transition: height .3s;
    overflow: hidden;

    &--visible {
      height: 42px;
      transition: height .3s;
    }
  }

  &__input[type="search"] {
    color: #f5f5f5;
    margin: 10px 0 0;
    border-bottom: 1px solid rgb(66, 66, 66) !important;
    box-shadow: none !important;
    height: 2rem;
  }

  &__input[type="search"]:focus {
    border-bottom-color: #757575 !important;
  }

  &__results {
    display: none;

    &-header {
      font-weight: bold;
      font-size: 14px;
      padding-left: 15px !important;
    }
  }

  &__result {
    display: flex;

    &-thumbnail {
      max-width: 20%;
      margin-right: 15px;
      height: auto;

      img {
        max-width: 100%;
      }
    }

    &-title {
      display: inline-block;
      font-size: 13px;
      line-height: 14px;
    }

    &-author {
      font-size: 12px;
      line-height: 13px;
      font-weight: bold;
    }

    &-description {
      display: none;
      font-size: 12px;
      line-height: 13px;
      padding-top: 10px;

      @media(min-width: 700px) {
        display: block;
      }
    }

    &-add {
      height: 24px;
      top: 50% !important;
      transform: translateY(-50%);
      color: #9e9e9e;
    }
  }

  &__no-results {
    padding: 10px 15px;
    font-size: 12px;
  }
}
