.video {
  position: relative;
  padding-bottom: 56.25%;
  background: #000;

  &__title {
    font-size: 10vw;
    font-weight: bold;
    color: #212121;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  &__iframe {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
