$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/Materialize/sass/materialize.scss";
// endbower
//
@import 'video';
@import 'player';
@import 'played';
@import 'controls';
@import 'search';
@import 'queue';

body {
  min-width: 350px;
  background: #212121;
  color: #f5f5f5;
}


.collection.with-header {
  margin: 0;
  border: 0;
  .collection-item {
    cursor: pointer;
  }

  .collection-item.avatar {
    padding: 10px 55px 10px 15px;
  }

  .collection-item.avatar,
  .collection-header {
    background: transparent;
    color: inherit;
    border-bottom-color: #616161;
    min-height: auto;
  }
}
